<html>
<head>
	<title>Login</title>
</head>
<body style="background-color: rgb(173, 183, 238);">
		<h1>Restaurant Login:(Username: demo)</h1>
	<div class="container">
		<form action="/login" method="post">
			Username: <input type="text" name="name"><br>
			Password: <input type="password" name="password"><br>
			<input type="submit" value="Login">
		</form>
	</div>
</body>

</html>